<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Login</title>
</head>
<body>
  <label for="doctor_name">Doctor: </label>
    <select name="doctor_name" id="doctor_name">
      <option value="Dr. Rahul">Dr. Rahul</option>
      <option value="Dr. Ravi">Dr. Ravi</option>
      <option value="Dr. Shyam">Dr. Shyam</option>
      <option value="Dr. Madhur">Dr. Madhur</option>
      <option value="Dr. Divyesh">Dr. Divyesh</option>
    </select>

</body>
</html>