<!-- {% comment %} <html>
  <head>
    <title>jQuery Page</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script>
    $(document).ready(function(){
      $("button").click(function(){
        alert(("Author: ")+$("#home").data("author-name"))
        alert(("Year: ")+$("#home").data("year"))
      });
    });
  </script>
  </head>
  <body>
    <p>Click on the button to see the result</p>
    <div id="home" data-author-name="Ram" data-year="2000"></div>
    <button>Get Data</button>
  </body>
</html> {% endcomment %} -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appollo Hospital</title>
  <style>
   
    h2 {
text-align: center;
border-radius: 1px;
font-family: georgia;

    }
    a[id="Appointment"]{
      text-align: left;
      font-family: Georgia;
    }
    a[id="staff"]{
      align-items: right;
      font-family: Georgia;
    }

    a[id='report']{
      text-align: left;
      font-family: Georgia;
    }
    
    body{
      background-color: rgba(103, 243, 196, 0.778);
      font-family: Georgia;
      
    }
  </style>
</head>
<body>
  <h2>Appollo Hospital</h2>

    <a id="Appointment" href="{% url 'myapp:patient_entry' %}">Click here to get the Appointment</a>
    <br>
    <br>
    <a id="report" href="{% url 'myapp:download_report' %}">Download Reports</a>
    <br>
    <br>
    <a id="staff" href="{% url 'admin:index' %}">Staff Login</a>
    
    
    

  </form>
</body>
</html>
